* {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }

body {
  background: #e0e0e0 url(../images/background.jpg);
  margin: 0px;
  padding: 0px 20px; }
  body h3 {
    color: #333;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    text-transform: uppercase; }
  body h2 {
    text-align: center; }
  body p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px; }
  body header {
    background-color: #fff;
    height: 155px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    -webkit-box-shadow: 0px 5px 31px 0px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 5px 31px 0px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 5px 31px 0px rgba(0, 0, 0, 0.45); }
    body header .logo {
      display: inline-block;
      float: left;
      margin-left: 30px;
      position: absolute;
      z-index: 100; }
    body header .copy {
      float: right;
      font-weight: bold;
      padding-right: 30px;
      margin-top: 10px;
      text-align: right; }
      body header .copy h4 {
        color: #ccc;
        font-size: 20px;
        font-weight: bold; }
      body header .copy p {
        color: #ccc;
        font-size: 12px;
        line-height: 10px; }
    body header nav {
      background-color: #201d1d;
      bottom: 0px;
      position: absolute;
      width: 100%; }
      body header nav a {
        color: #fff;
        display: inline-block;
        float: right;
        font-size: 14px;
        font-weight: 300;
        padding: 10px 0;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        width: 20%; }
        body header nav a:not(:first-of-type) {
          border-right: 1px #fff dashed; }
        body header nav a:hover {
          text-decoration: underline; }
  body .hero {
    height: 308px;
    text-align: center; }
  body .leaves img {
    z-index: 1; }
  body .content-container {
    background-color: #fff;
    max-width: 1000px;
    margin: 0 auto 0;
    width: 100%;
    z-index: 100;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.1); }
    body .content-container section {
      overflow: auto;
      padding: 70px; }
      body .content-container section.alt-section {
        background-color: #f8f8f8; }
      body .content-container section .copy {
        float: left;
        width: 55%; }
      body .content-container section .image {
        float: left;
        width: 45%; }
      body .content-container section.main {
        background: #fff url(../images/fields.png) center bottom no-repeat; }
        body .content-container section.main .main-card {
          background-color: #fff;
          border: 1px solid #fafafa;
          float: left;
          height: 240px;
          margin: 40px 15px 0;
          padding: 15px;
          text-align: center;
          width: 29%;
          -webkit-box-sizing: border-box;
          /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
          -moz-box-sizing: border-box;
          /* Firefox 1 - 28 */
          box-sizing: border-box;
          -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1);
          -moz-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1); }
          body .content-container section.main .main-card img {
            margin: -60px auto 0; }
          body .content-container section.main .main-card h3, body .content-container section.main .main-card p {
            text-align: left; }
        body .content-container section.main .fb-news-container {
          float: left;
          margin: 0 15px;
          width: 30%; }
          body .content-container section.main .fb-news-container h2 {
            color: #303030;
            display: inline;
            font-size: 20px;
            font-weight: normal;
            text-transform: uppercase; }
            body .content-container section.main .fb-news-container h2:nth-child(2) {
              color: #750000;
              font-weight: bold; }
          body .content-container section.main .fb-news-container #fb-news ul {
            padding: 0; }
            body .content-container section.main .fb-news-container #fb-news ul li {
              border-top: 1px solid #ebebeb;
              clear: both;
              list-style: none;
              overflow: auto;
              padding: 15px 0; }
              body .content-container section.main .fb-news-container #fb-news ul li img {
                float: left;
                padding-right: 20px;
                width: 70px; }
              body .content-container section.main .fb-news-container #fb-news ul li a {
                text-decoration: none; }
              body .content-container section.main .fb-news-container #fb-news ul li p {
                font-size: 12px;
                line-height: 14px; }
                body .content-container section.main .fb-news-container #fb-news ul li p.date {
                  font-weight: bold;
                  margin-top: 0; }
      body .content-container section .map {
        float: left;
        margin-right: 4%;
        width: 48%; }
        body .content-container section .map #map-canvas {
          height: 300px; }
      body .content-container section .directions {
        float: left;
        width: 48%; }
      body .content-container section.produce p {
        margin: 0px auto 50px;
        text-align: center;
        width: 600px; }
      body .content-container section.produce .produce-list {
        overflow: auto;
        padding: 0; }
        body .content-container section.produce .produce-list li {
          float: left;
          list-style: none;
          margin-bottom: 30px;
          text-align: left;
          width: 33%; }
          body .content-container section.produce .produce-list li img {
            float: left;
            padding-right: 8px; }
          body .content-container section.produce .produce-list li h3 {
            margin: 0; }
          body .content-container section.produce .produce-list li p {
            margin-top: 4px;
            margin-bottom: 0;
            text-align: left; }
    body .content-container footer {
      background-color: #201d1d;
      color: #fff;
      font-size: 12px;
      text-align: center;
      overflow: auto; }
      body .content-container footer a {
        color: #666; }

/*# sourceMappingURL=styles.css.map */
