* {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
	background: #e0e0e0 url(../images/background.jpg);
	background-size: 100%;
	margin: 0px;
	padding: 0px 20px;

	h3 {
		color: #333;
		font-size: 14px;
		font-weight: bold;
		line-height: 20px;
		text-transform: uppercase;
	}

	h2 {
		text-align: center;
	}

	p {
		color: #777;
		font-size: 14px;
		font-weight: 300;
		line-height: 22px;
	}
	a {
		font-weight: 600;
		text-decoration: none;
		color: #333;
	}

	#loading {
    	position: absolute; 
    	width: 100%; 
    	height: 100%; 
    	background: #fff url('../images/spinner.gif') no-repeat center center;
    	background-size: 20%;
		z-index: 1000;
		margin-left: -20px;
	}

	#content {
		display: none;
	}

	header {
		background-color: #fff;
		height: 155px;
		width: 100%;
		max-width: 1000px;
		margin: 0 auto;
		position: relative;
		-webkit-box-shadow: 0px 5px 31px 0px rgba(0,0,0,0.45);
		-moz-box-shadow: 0px 5px 31px 0px rgba(0,0,0,0.45);
		box-shadow: 0px 5px 31px 0px rgba(0,0,0,0.45);

		.logo {
			display: inline-block;
			float: left;
			margin-left: 30px;
			position: absolute;
			z-index: 100;
			@media screen and (max-width: 600px) {
				margin-left: 15px;
			}

			img {
				@media screen and (max-width: 600px) {
					height: 200px;
				}
			}
		}

		.copy {
			float: right;
			font-weight: bold;
			padding-right: 30px;
			margin-top: 10px;
			text-align: right;

			@media screen and (max-width: 520px) {
				display: none;
			}

			h4 {
				color: #ccc;
				font-size: 20px;
				font-weight: bold;
			}

			p {
				color: #ccc;
				font-size: 12px;
				line-height: 10px;
			}
		}

		nav {
			background-color: #201d1d;
			bottom: 0px;
			position: absolute;
			width: 100%;

			a {
				
				color: #fff;
				display: inline-block;
				float: right;
				font-size: 14px;
				font-weight: 300;
				padding: 10px 0;
				text-align: center;
				text-decoration: none;
				text-transform: uppercase;
				width: 20%;

				&:not(:first-of-type) {
					border-right: 1px #fff dashed;
				}

				&:hover {
					text-decoration: underline;
				}
			}

			.desktop-menu {
				@media screen and (max-width: 820px) {
					display: none;
				}
			}

			#mobile-menu-toggle {
				display: none;
				cursor: pointer;
				@media screen and (max-width: 820px) {
					display: block;
				}
			}

			
		}
	}

	.hero {
		height: auto;
		text-align: center;
		position: relative;

		img {
			height: auto;
			max-width: 1140px;
			width: 100%;
		}

		.desktop {
			@media screen and (max-width: 600px) {
				display: none;		
			}
		}

		.mobile {
			display: none;
			@media screen and (max-width: 600px) {
				display: inline-block;		
			}
		}
		#mobile-menu {
			clear: both;
			background-color: #201d1d;
			display: none;
			width: 55%;
			float: right;
			position: absolute;
			right: 0;

			@media screen and (min-width: 820px) {
				display: none !important;		
			}

			li {
				border-top: 1px solid #444;
				list-style: none;
				padding: 8px 12%;
				text-align: right;
				width: 100%;
				-webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
				-moz-box-sizing: border-box;    /* Firefox 1 - 28 */
				box-sizing: border-box;
				&:hover {
					background-color: #222;
				}

				a {
					color: #fff;
					font-size: 14px;
					font-weight: 300;
					line-height: 22px;
					text-decoration: none; 
				}
			}
		}
	}

	.leaves {
		img {
			left: -230px;
			top: -150px;
			z-index: -1;
			position: absolute;
		}

		@media screen and (max-width: 1000px) {
			display: none;		
		}
	}

	.content-container {
		background-color: #fff;
		max-width: 1000px;
		margin: 0 auto 0;
		position: relative;
		width: 100%;
		z-index: 100;
		-webkit-box-shadow: 0px 5px 31px 0px rgba(0,0,0,0.45);
		-moz-box-shadow: 0px 5px 31px 0px rgba(0,0,0,0.45);
		box-shadow: 0px 5px 31px 0px rgba(0,0,0,0.45);

		section {
			overflow: hidden;
			padding: 70px;

			@media screen and (max-width: 900px) {
				padding: 50px 40px;
			}

			

			&.alt-section {
				background-color: #f8f8f8;
			}

			.copy {
				float: left;
				width: 55%;

				@media screen and (max-width: 780px) {
					width: 100%;
				}
			}

			.image {
				float: left;
				width: 45%;

				img {
					width: 100%;
					height: auto;
					max-width: 400px;
				}

				@media screen and (max-width: 780px) {
					width: 100%;
				}				
			}

			&.main {
				background: #fff url(../images/fields2.png) center bottom no-repeat;
				  background-size: 91%;

				.main-card {
					background-color: #fff;
					border: 1px solid #fafafa;
					float: left;
					height: 240px;
					margin: 40px 15px 0;
					padding: 15px;
					text-align: center;
					width: 29%;
					-webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
					-moz-box-sizing: border-box;    /* Firefox 1 - 28 */
					box-sizing: border-box;
					-webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.1);
					-moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.1);
					box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.1);

					@media screen and (max-width: 800px) {
						width: 43%;
					}

					@media screen and (max-width: 560px) {
						width: 100%;
					}

					img {
						margin: -60px auto 0;
					}
					h3, p {
						text-align: left;
					}
				}

				/* FB feed styles */
				.fb-news-container {
					float: left;
					margin: 0 15px;
					width: 30%;

					@media screen and (max-width: 800px) {
						width: 100%;
					}

					@media screen and (max-width: 560px) {
						width: 100%;
					}

					h2 {
						color: #303030;
						display: inline;
						font-size: 20px;
						font-weight: normal;
						text-transform: uppercase;

						&:nth-child(2) {
							color: #750000;
							font-weight: bold;
						}
					}

					#fb-news {
						ul {
							padding: 0;

							li {
								border-top: 1px solid #ebebeb;
								clear: both;
								list-style: none;
								overflow: auto;
								padding: 15px 0;

								img {
									float: left;
									padding-right: 20px;
									width: 70px;
								}

								a {
									text-decoration: none;
								}

								p {
									font-size: 12px;
									line-height: 14px;

									&.date {
										font-weight: bold;
										margin-top: 0;
									}
								}
							}
						}
					}
				}
			}

			/* produce list styles */
			&.produce {
				p {
					margin: 0px auto 50px;
					text-align: center;
					max-width: 600px;
				}
			
				.produce-list {
					overflow: hidden;
					padding: 0;

					li {
						float: left;
						list-style: none;
						margin-bottom: 30px;
						text-align: left;
						width: 33%;

						@media screen and (max-width: 820px) {
							width: 50%;
						}

						@media screen and (max-width: 525px) {
							width: 100%;
						}

						img {
							float: left;
							padding-right: 8px;
						}

						h3 {
							margin: 0;
						}

						p {
							margin-top: 4px;
							margin-bottom: 0;
							text-align: left;
						}
					}
				}
			}
		}

		/* contact section styles */
		#contact {
			padding: 0;

			.map {
				float: left;
				width: 50%;

				@media screen and (max-width: 780px) {
					width: 100%;
				}
			}
			#map-canvas {
				height: 508px;
			}
			.directions {
				float: left;
				padding: 70px 70px 70px 70px;
				width: 50%;
				-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
				-moz-box-sizing: border-box;    /* Firefox, other Gecko */
				box-sizing: border-box;

				@media screen and (max-width: 780px) {
					width: 100%;
				}

				@media screen and (max-width: 900px) {
					padding: 50px 40px;
				}

				.contact-col {
					float: left;
					margin-bottom: 20px;
					position: relative;
					width: 50%;
					@media screen and (max-width: 500px) {
						width: 100%;
					}
					p {
						padding-left: 22px;
						margin: 0;
					}
					img {
						position: absolute;
						left: 0;
						top: 3px;
					}
				}

				form {
					clear: both;
					padding-top: 10px
				}

				input {
					background: url(../images/map-pin.png) no-repeat 95% 50%;
					border: 1px solid #e1e1e1;
					-webkit-border-radius: 4px;
					-moz-border-radius: 4px;
					border-radius: 4px;
					display: block;
					font-size: 14px;
					margin: 0px 0 20px;
					padding: 12px;
					width: 100%;
					-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
					-moz-box-sizing: border-box;    /* Firefox, other Gecko */
					box-sizing: border-box;
				}
				button {
					background-color: #750000;
					border: none;
					border: 1px solid #e1e1e1;
					-webkit-border-radius: 4px;
					-moz-border-radius: 4px;
					border-radius: 4px;
					color: #fff;
					cursor: pointer;
					font-size: 14px;
					font-weight: 300;
					padding: 12px 36px;
				}
			}
		}

		footer {
			background-color: #201d1d;
			color: #fff;
			font-size: 12px;
			text-align: center;
			overflow: auto;

			a {
				color: #666;
			}
		}
	}
}
