* {
    color: $text-primary;
    font-family: $font-regular;
    font-size: 100%;
    font-weight: normal;
    line-height: 1;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {

}
body {
    overflow-x: hidden;
}

h1 {

}
h2 {
    color: $white;
    font-family: $font-bold;
    font-size: 90px;
    letter-spacing: -4px;
    margin: 40px 0 0;
    text-transform: uppercase;
    text-shadow: 0 8px 15px rgba(188,197,209,0.5);
}
h3 {
    font-family: 'Pacifico', cursive;
    font-size: 38px;
    margin-top: -44px;
}
h4 {
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    em {
        font-family: 'Pacifico', cursive;
    }
}

p {
    font-size: 18px;
    line-height: 28px;
}

a {

}

input {
    border: none;
    outline: none;
}

button, a.button {
    background: $primary;
    color: $white;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 4px;
    font-size: 15px;
    font-family: $font-semibold;
    margin-top: 20px;
    padding: 13px 40px;
}

strong {
    font-family: $font-bold;
}

section {
    &.dark {
        background: $bg-dark;
        * {
            color: $white;
        }
    }
    .section-copy {
        &.right {
            padding: 40px 80px 80px 40px
        }
        &.left {
            padding: 40px 40px 80px 80px
        }
    }
}

footer {
    background: $bg-dark;
    color: $white;
    * {
        color: $white;
    }
}
